/*.profile {*/
/*    width: 1000px;*/
/*    grid-area: profile;*/
/*}*/
.user {
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 38px rgba(74, 58, 161, 0.17);
    /*padding: 20px;*/
    border-radius: 5px;
}
.userImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 45px rgba(74, 78, 161, 0.17);
    box-sizing: border-box;
    border-radius: 50%;
    margin: 20px;
}
.user ul {
    margin-left: 50px;
}

.user ul li {
    font-size: 21px;
}
